<div class="terminal-nav">
    <div class="terminal-logo">
        <div class="logo terminal-prompt"><a href="/" class="no-style">Light Node Demo UI</a></div>
    </div>
    <nav class="terminal-menu">
        <ul>
            <li><a class="menu-item" href="/send.html">Send</a></li>
            <li><a class="menu-item" href="/transactions.html">Transactions</a></li>
        </ul>
    </nav>
</div>

<table style="text-align: right">
    <thead>
        <tr>
            <th>Address</th>
            <th>Balance</th>
            <th>Indexed Block Number</th>
        </tr>
    </thead>
    <tbody>
        {{#data}}
        <tr>
            <td>{{address}}</td>
            <td>{{balance}} CKB</td>
            <td>{{indexed_block_number}}</td>
        </tr>
        {{/data}}
    </tbody>
    <tfoot>
        <tr>
            <td><a href="#" onclick="do_generate_account()">Generate new account</a></td>
            <td colspan="2">Import</td>
        </tr>
    </tfoot>
</table>
